Proyecto_1.0/Web References/PINTAE_Service/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services_Pintae" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services_Pintae" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfTramiteRealizado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TramiteRealizado" nillable="true" type="tns:TramiteRealizado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTramiteRealizado" nillable="true" type="tns:ArrayOfTramiteRealizado" />
  <xs:complexType name="TramiteRealizado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id_tramite" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre_tramite" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TramiteRealizado" nillable="true" type="tns:TramiteRealizado" />
</xs:schema>