Proyecto_1.0/Web References/PINTAE_Service1/Service10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services_Pintae" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services_Pintae" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTramiteRealizado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TramiteRealizado" nillable="true" type="tns:TramiteRealizado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTramiteRealizado" nillable="true" type="tns:ArrayOfTramiteRealizado" />
  <xs:complexType name="TramiteRealizado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha_solicitud" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_tramite" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre_tramite" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TramiteRealizado" nillable="true" type="tns:TramiteRealizado" />
  <xs:complexType name="ArrayOfTipoTramite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoTramite" nillable="true" type="tns:TipoTramite" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoTramite" nillable="true" type="tns:ArrayOfTipoTramite" />
  <xs:complexType name="TipoTramite">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id_tramite" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre_tramite" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoTramite" nillable="true" type="tns:TipoTramite" />
  <xs:complexType name="ArrayOfTipoDato">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoDato" nillable="true" type="tns:TipoDato" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoDato" nillable="true" type="tns:ArrayOfTipoDato" />
  <xs:complexType name="TipoDato">
    <xs:sequence>
      <xs:element minOccurs="0" name="Es_obligatorio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_dato" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoDato" nillable="true" type="tns:TipoDato" />
  <xs:complexType name="ArrayOfPeticion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Peticion" nillable="true" type="tns:Peticion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPeticion" nillable="true" type="tns:ArrayOfPeticion" />
  <xs:complexType name="Peticion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cedula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_tipo_dato" type="xs:int" />
      <xs:element minOccurs="0" name="Id_tramite_solicitado" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre_dato" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Peticion" nillable="true" type="tns:Peticion" />
</xs:schema>